.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px 12px;
    min-width: 304px;
    min-height: 352px;
    background: #152737;
    border-radius: 16px;
}

.text {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0;
}

.form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #859AAD;
    margin-bottom: 8px;
}

.authBtn {
    margin-top: 24px;
    background: #B3904D;
    color: #061018;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

.authBtn:hover {
    background: #DBB870;
}
.authBtn:active {
    background: #B3904D;
}

.link {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #B3C0CC;
    margin-top: 22px;
    text-decoration: none;
    transition: .2s;
}

.link:hover {
    opacity: .7;
}

.p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    color: red;
    margin: 16px;
}