.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.title {
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 50px;
}

.img {
    border-radius: 8px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 80%;
    justify-content: center;
    margin: 0 auto;
}

.frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 80%;
    gap: 15px;
}

.text {
    margin: 0;
    width: 20%;
}